.item-info-container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    box-sizing: border-box;
}

.item-info__image-wrapper {
    margin-top: 30px;
    padding: 25px;
    width: 50%;
    aspect-ratio: 1 / 1;
    /* 画像を正方形に */
    overflow: hidden;
}

.item-info__image {
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.item-info__content-wrapper {
    width: 50%;
    padding: 40px;
}

.item-info__data-name {
    margin: 5px 0;
}

.item-info__data-brand {
    margin: 5px 0;
}

.item-info__data-price {
    font-size: 20px;
}

.item-info__data-meta {
    display: flex;
    gap: 25px;
    padding-left: 15px;
}

.likes-icon {
    background: none;
    border: none;
    font-size: 25px;
}

.comments-icon {
    width: 25px;
    height: 25px;
    margin: 2px 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comments-icon i {
    font-size: 25px;
    line-height: 1;
}

.likes-count {
    padding: 0;
    text-align: center;
}

.comments-count {
    text-align: center;
}

.count-number {
    margin: 0 0 15px;
    font-size: 15px;
}

.item-info__purchase-button {
    display: block;
    width: 100%;
    background-color: red;
    padding: 8px 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

h2 {
    margin: 40px 0 20px;
}

.item-details {
    width: 100%;
    box-sizing: border-box;
}

.detail-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.detail-label {
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100px;
    padding: 5px 0px;
}

.category-tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
    gap: 10px;
    flex-grow: 1;
}

.item-category-tag {
    min-width: 60px;
    text-align: center;
    background: rgb(220, 217, 217);
    border-radius: 20px;
    padding: 1px 10px;
    white-space: nowrap;
    font-size: 15px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.item-condition {
    white-space: nowrap;
    font-size: 15px;
    padding: 5px 10px;
    text-align: left;
    flex-grow: 1;
}

.comment-group-title {
    color: gray;
}

.author-profile {
    display: flex;
    width: auto;
    height: 50px;
    align-items: center;
}

.author-profile__name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}

.author-profile__image {
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
}

.author-profile__placeholder-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    display: inline-block;
}

.comment-wrapper {
    width: 100%;
    height: 50px;
    margin: 10px 0 20px;
    display: flex;
    align-items: center;
    background: rgb(220, 217, 217);
    border-radius: 5px;
}

.comment__content {
    padding: 10px;
    font-size: 15px;
}

.comment-group__form {
    width: 100%;
}

.form-title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.form__input {
    width: 100%;
    height: 150px;
}

.form__button {
    width: 100%;
    margin: 25px 0;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
}

.form__button-submit {
    width: 100%;
    padding: 8px 15px;
    appearance: none;
    border: none;
    background-color: red;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
}

.btn-login-redirect {
    display: block;
    width: 100%;
    padding: 8px 15px;
    text-decoration: none;
    border: none;
    background-color: red;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
}

.form__error {
    color: red;
}

@media (min-width: 768px) and (max-width: 850px) {
    .item-info-container {
        padding: 10px 10px;
    }

    .item-info__image-wrapper {
        padding: 20px;
    }

    .item-info__content-wrapper {
        padding: 20px;
    }
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .item-info__image-wrapper {
    padding: 40px;
    }
}